<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.cmoatoto.quiz.sample"
    android:installLocation="auto"
    android:versionCode="010000"
    android:versionName="1.0">

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/quiz_app_name" />

</manifest>